html {
    scroll-padding-top: 70px;
}
body {
    padding-top: 70px;
}
td {
    font-size: 15pt;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.icon {
    text-decoration: none
}